# Copie este arquivo para .env e preencha com suas credenciais

# Banco de Dados
DB_USER=seu_usuario_postgres
DB_HOST=localhost
DB_NAME=nome_do_banco
DB_PASSWORD=senha_do_banco
DB_PORT=5432

JWT_SECRET=sua_senha_secreta_jwt
AUTH_USER=aut_email
AUTH_PASSWORD=aut_senha

# Servidor
PORT=3000

# Ambiente
NODE_ENV=development